[Unit]
Description=USBGuard Notificator
After=usbguard.service

[Service]
ExecStart=/usr/local/sbin/usbguard_notifier

[Install]
WantedBy=basic.target

